<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div>
			<ul>
				<%#referer%>
				<% for(var i=0;i<list.length;i++){%>
					<li><%=list[i].name%></li>
				<%}%>
			</ul>
		</div>
	</body>
</html>
